@import url(bootstrap.min.css);

html, body {
	font-family: Helvetica,Arial,sans-serif;
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
}

a {
	text-decoration: none!important;
	font-weight: bold;
	color: #000;
}

a:hover {
	*color: #fff;
}

b {font-size: 1.5em;}


.main-wrapper {
	margin-top: 10px;
}

.header {
	position: absolute;
	background: url('../resources/img/wein.jpg') no-repeat;
	background-size: cover;
	width: 100%;
	height: 263px;
	top: 60px;
}


.header .header-title {
	font-size: 4em;
	font-weight: bold;
	color: #fff;
	margin: 50px 0 0 50px;
}


div.list-group{
	
	width: 90%;
	height: 50%;
	margin: 50px 40px;
	
}


@media(max-width: 460px) {
	.header .header-title {
		font-size: 3.5em;
	}
}

.main-container {
	position: relative;
	top: 320px;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0 auto;
}

.main-container .new-box {
	min-height: 160px;
	height: auto;
}

.navigation{
	z-index: 1000;
	top: 295px;
}

#img {
	width: 150px!important;
	height: 150px!important;
}

.input-group-addon {
	width: 100px!important;
}

.inputform{
	width: 530px!important;
}

.addLocationForm{

}

.addLocationButton{
	width: 100%;
	margin-top: 20px!important;
}

.detail_text{

}

.cart_button{
	float: left!important;
}

.nail{
	width: 250px!important;
	height: 450px!important;
}