<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<title>Rechnungswesen</title>

	<!-- JS dependencies -->
	<script type="text/javascript" src="//code.jquery.com/jquery-latest.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="../resources/js/bootstrap.min.js"></script>
	<script src="../resources/js/docs.min.js"></script>
	
	<!-- CSS dependencies -->
	<link href="../resources/css/style.css" rel="stylesheet" />
	<style type="text/css">
	  .success_table{background-color:#92D36E!important; color:#fff;}
	  .btn-default{background-color:#92D36E!important; color:#fff;}
	</style>
		<img src="../resources/img/wein.jpg" class="header"/>
		
		
		
	<script type="text/javascript"
    	src="https://www.google.com/jsapi?autoload={
			'modules':[{
              'name':'visualization',
              'version':'1',
              'packages':['corechart']
            }]}"></script>

    <script type="text/javascript">
      google.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Month', 'Einnahmen', 'Ausgaben'],
          ['01.01',  	500,	400],
          ['10.01',  	370,	460],
          ['20.01',		460,	120],
          ['30.01',		200,	540]
        ]);

        var options = {
          title: 'Übersicht der Einnahmen und Ausgaben',
          curveType: 'function',
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
      }
    </script>
			
</head>

<body>
<div class="main-wrapper">
	<!-- Header -->

	<div class="col-lg-7"></div>

	<!-- Log in / Log out navigation -->
	<div class="col-lg-5 logNavi">	
		<nav th:include="login :: login"></nav>
	</div>
	<!-- Log in / Log out navigation -->

	<div class="col-lg-2"></div>

	<!-- navigation -->
	<div class="col-lg-8 navigation">
		<nav th:include="navigation :: navigation"></nav>
	</div>
	<!-- /navigation -->

	<div class="col-lg-2"></div>

	<div class="header">
		<div class="header-title">Cognac Fabrik <br/>Feuerwasser</div>
	</div>
	<!-- /Header -->


	<!-- Container -->
	<div class="main-container content">
		<div class="col-lg-12">
			<table class="table table-condensed">
			<h3>Übersicht</h3>
				<tr class="success_table">
					<th class="text-center" > Höhe der Einnahmen </th>
					<th class="text-center" > Höhe der Ausgaben </th>	
				</tr>
				<tr class="text-center">
					<td class="text-center" th:text="${income}" ></td>
					<td class="text-center" th:text="${expenditure}" ></td>
				</tr>
			</table>
		</div>
		<div class="col-lg-12" id="curve_chart" style="width: 900px; height: 500px"></div>
	</div>
</div>
</body>
</html>