<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	</head>

	<body>

		<form method="post" th:action="@{/addedDepartment}">
            <table>
                <tr><td>Angaben zur Abteilung:</td></tr>
                
                <tr><td>Arbeitsplatz:</td><td><input type="text" name="workplace"/></td></tr>
                <tr><td>Name:</td><td><input type="text" name="name"/></td></tr>
                
                <tr><td><input name="id" type="hidden" th:value="${id}"/></td></tr>
                <tr><td><button type="submit">Hinzufügen!</button></td></tr>
                
           	</table>
        </form>
	</body>
</html>