<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<title>Location List</title>

	<!-- JS dependencies -->
	<script type="text/javascript" src="//code.jquery.com/jquery-latest.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="../resources/js/bootstrap.min.js"></script>
	<script src="../resources/js/docs.min.js"></script>
	
	<!-- CSS dependencies -->
	<link href="../resources/css/style.css" rel="stylesheet" />
		<img src="../resources/img/wein.jpg" class="header"/>
</head>
<!-- 				<tr th:remove="all-but-first"> -->
<body>
<div class="main-wrapper">
	<!-- Header -->

	<div class="col-lg-7"></div>

	<!-- Log in / Log out navigation -->
	<div class="col-lg-5 logNavi">	
		<form class="form-inline" role="form" th:action="@{/login}" method="post" >
		 	<div class="form-group" sec:authorize="!isAuthenticated()">
		   		<label class="sr-only" for="username">Username</label>
		    	<input type="text" class="form-control" id="username" name="username" 
		    		autofocus="autofocus" placeholder="Username" />
		  	</div>
		 	<div class="form-group" sec:authorize="!isAuthenticated()">
		    	<label for="password" class="sr-only">Password</label>
		    	<input type="password" class="form-control" id="password" 
		    	name="password" placeholder="Password" />
		  	</div>

		  	<button type="submit" class="btn btn-default loginlogout" sec:authorize="!isAuthenticated()">
		  		Log in</button>

		  	<button type="submit" class="btn btn-default pull-right loginlogout" sec:authorize="isAuthenticated()">
		  		Log out</button>
		</form>
	</div>
	<!-- Log in / Log out navigation -->

	<div class="col-lg-2"></div>

	<!-- navigation -->
	<div class="col-lg-8 navigation">
		<nav th:include="navigation :: navigation"></nav>
	</div>
	<!-- /navigation -->
	<div class="col-lg-2"></div>

	<div class="header">
		<div class="header-title">Cognac Fabrik <br/>Feuerwasser</div>
	</div>
	<!-- /Header -->


	<!-- Container -->
	<div class="main-container content">
		<div class="col-lg-12">
				<div class="col-lg-12">
				<p class="btn-danger text-center" th:text="${error}"></p>
			</div>
			<table class="table table-condensed">
				<tr class="success">
				
					<th class="text-center">ID</th>
					<th class="text-center">Age</th>
					<th class="text-center">Quality</th>
					
					<th class="text-center">Content_Amount</th>
					<th class="text-center">Manufacturing_Date</th>
					<th class="text-center">Barrel_Volume</th>
					
					<th class="text-center">Birthdate_of_barrel</th>
					<th class="text-center">Death_of_barrel</th>
					<th class="text-center">LastFill</th>
					<th class="text-center">Position</th>
					<th class="text-center" sec:authorize="hasRole('ROLE_BARRELMAKER')">Action</th>
				</tr>
				<tr th:each=" Barrel, it: ${BarrelList}" th:with="index=${it.count}">
					<td class="text-center" th:text="${index}">1</td>
					<td class="text-center" th:text="${Barrel.getAge()}">0</td>
					<td class="text-center" th:text="${Barrel.getQuality()}">gut</td>
					<td class="text-center" th:text="${Barrel.getContent_amount()}">12,3</td>
					<td class="text-center" th:text="${Barrel.getManufacturing_date()}">10.10.2012</td>
					
					<td class="text-center" th:text="${Barrel.getBarrel_volume()}">23</td>
					<td class="text-center" th:text="${Barrel.getBirthdate_of_barrel()}">10.10.2012</td>
					<td class="text-center" th:text="${Barrel.getDeath_of_barrel()}">10.10.2013</td>
					<td class="text-center" th:text="${Barrel.getLastFill()}">20.10.2014</td>
					<td class="text-center" th:text="${Barrel.getPosition()}">FLL-R1-1</td>	
					<td class="text-center" sec:authorize="hasRole('ROLE_BARRELMAKER')"></td>
					<td sec:authorize="hasRole('ROLE_BARRELMAKER')">
						<form method="get" th:action="@{'/deleteBarrel/' + ${index}}">
							<button type="submit" class="btn btn-default btn-lg">
								<span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
							</button>
						</form>
					</td>
	     		</tr>	
			</table>
			<div sec:authorize="hasRole('ROLE_BREWER')">
				<form method="post" action="/putBarrelstogether"><input type="submit" value="zusammen schütten" /></form>
				<br/><br/>
				</div>
				<div sec:authorize="hasRole('ROLE_BARRELMAKER')">
				<form method="post" action="/inserted"><input type="submit" value="Fass hinzufügen" /></form>
				<br/>
				<br/>
				</div>
				<div sec:authorize="hasRole('ROLE_WAREHOUSEMAN')">
				<form method="post" action="/fassZuordnen"><input type="submit" value="Fass zuordnen" /></form>
			</div>
		</div>
	</div>
</div>
</body>
</html>