<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<body>
	<h3 align="center">Bestell&uuml;bersicht</h3>

	<thead>
           <tr>
            <th>Name</th>
        	<th>Alter</th>
	     	<th>Alkoholgehalt</th>
        	<th>Volumen</th>
        	<th>Cognacart</th>
        	<th>Anzahl</th>
        	<th>Gesamtsumme</th>
           </tr>
        </thead>
        
        <table>
      	  	<tr th:each="orderline : ${cart} ">
					<td th:text="${orderline.name}"></td>
					<td th:text="${orderline.alter}"></td>
					<td th:text="${orderline.alkoholgehalt}"></td>
					<td th:text="${orderline.volumen}"></td>
					<td th:text="${orderline.cognacart}"></td>
					<td th:text="${orderline.price}"></td>
					<td th:text="${orderline.quantity}"></td>
			</tr>
		</table>

 </body>
 </html>