<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<title>Cart</title>

	<!-- JS dependencies -->
	<script type="text/javascript" src="//code.jquery.com/jquery-latest.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="../resources/js/bootstrap.min.js"></script>
	<script src="../resources/js/docs.min.js"></script>
	
	<!-- CSS dependencies -->
	<link href="../resources/css/style.css" rel="stylesheet" />
	<style type="text/css">
	  .success_table{background-color:#92D36E!important; color:#fff;}
	  .btn-default{background-color:#92D36E!important; color:#fff;}
	</style>
		<img src="../resources/img/wein.jpg" class="header"/>
</head>

<body>
<div class="main-wrapper">
	<!-- Header -->

	<div class="col-lg-7"></div>

	<!-- Log in / Log out navigation -->
	<div class="col-lg-5 logNavi">	
		<nav th:include="login :: login"></nav>
	</div>
	<!-- Log in / Log out navigation -->

	<div class="col-lg-2"></div>

	<!-- navigation -->
	<div class="col-lg-8 navigation">
		<nav th:include="navigation :: navigation"></nav>
	</div>
	<!-- /navigation -->

	<div class="col-lg-2"></div>

	<div class="header">
		<div class="header-title">Cognac Fabrik <br/>Feuerwasser</div>
	</div>
	<!-- /Header -->


	<!-- Container -->
	<div class="main-container content">
		<div class="col-lg-12" th:unless="${cart.empty}">
			<table class="table table-condensed">
				<tr class="success_table">
					<th class="text-center">Name</th>
		        	<th class="text-center">Alter</th>
			     	<th class="text-center">Alkoholgehalt</th>
		        	<th class="text-center">Volumen</th>
		        	<th class="text-center">Cognacart</th>
		        	<th class="text-center">Preis pro St&uuml;ck</th>
		        	<th class="text-center">Anzahl</th>
		        	<th class="text-center"></th>
				</tr>
				<tr th:each=" cartItem : ${cart}">
					<td class="text-center" th:text="${cartItem.product.name}"></td>
					<td class="text-center" th:text="${cartItem.product.alter}"></td>
					<td class="text-center" th:text="${cartItem.product.alkoholgehalt}"></td>
					<td class="text-center" th:text="${cartItem.product.volumen}"></td>
					<td class="text-center" th:text="${cartItem.product.cognacart}"></td>
					<td class="text-center" th:text="${cartItem.product.price}"></td>
					<td class="text-center" th:text="${cartItem.quantity}"></td>
					<td class="text-center">
						<form method="get" th:action="@{/article/} + ${cartItem.identifier}">
							<button type="submit" class="btn btn-default" sytle="font-size:10px;"> Entfernen</button>
						</form>	
					</td>	
				</tr>
			</table>
			
			<p align="center"><b>Gesamtsumme:</b></p>
			<p align="center" th:text="${cart.price}"></p>
			
			<ul class="nav nav-pills pull-right">
				<li>
					<div sec:authorize="!hasRole('ROLE_SALESMAN')">	
						<form method="post" th:action="@{/checkout}">
		            	    <button type="submit" class="btn btn-default">Kaufen</button>
		           		</form>
					</div>
				</li>
				<li>
					<form method="post" th:action="@{cart/clear}">
						<button class="btn btn-default" name="searchterm"> Warenkorb verwerfen</button>
					</form>
				</li>
			</ul>

		</div>
		
		
		
		<div class="col-lg-12">
		<br/><br/>
			<div sec:authorize="hasRole('ROLE_SALESMAN')">
				<table class="table table-condensed">
					<tr class="success_table">
						<th class="text-center">Benutzername</th>
						<th class="text-center">Nachname</th>
						<th class="text-center">Vorname</th>
						<th class="text-center">Adresse</th>
						<th class="text-center"></th>
					</tr>
							
					<tr th:each="customer : ${customerlist}">
						<td class="text-center" th:text="${customer.userAccount.identifier}"></td>
						<td class="text-center" th:text="${customer.familyname}"></td>
						<td class="text-center" th:text="${customer.firstname}"></td>
						<td class="text-center" th:text="${customer.address}"></td>
						<td>
							<form method="post" th:action="@{/saleCheckout}">
								<input name="id" type="hidden" th:value="${customer.userAccount.identifier}"/>
       							<button type="submit" class="btn btn-default pull-right">für Kunden bestellen</button>
       						</form>
       					</td>	
					</tr>
				</table>
			</div>
			<p align="center" th:if="${cart.empty}" th:text="#{cart.empty}">Leer</p>
		</div>
	</div>
</div>
</body>
</html>