<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<title>Location List</title>

	<!-- JS dependencies -->
	<script type="text/javascript" src="//code.jquery.com/jquery-latest.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="../resources/js/bootstrap.min.js"></script>
	<script src="../resources/js/docs.min.js"></script>
	
	<!-- CSS dependencies -->
	<link href="../resources/css/style.css" rel="stylesheet" />
</head>

<body>
<div class="main-wrapper">
	<!-- Header -->
	<div class="col-lg-7"></div>

	<!-- Log in / Log out navigation -->
	<div class="col-lg-5 logNavi">	
		<form class="form-inline" role="form" th:action="@{/login}" method="post" >
		 	<div class="form-group" sec:authorize="!isAuthenticated()">
		   		<label class="sr-only" for="username">Username</label>
		    	<input type="text" class="form-control" id="username" name="username" 
		    		autofocus="autofocus" placeholder="Username" />
		  	</div>
		 	<div class="form-group" sec:authorize="!isAuthenticated()">
		    	<label for="password" class="sr-only">Password</label>
		    	<input type="password" class="form-control" id="password" 
		    	name="password" placeholder="Password" />
		  	</div>

		  	<button type="submit" class="btn btn-default loginlogout" sec:authorize="!isAuthenticated()">
		  		Log in</button>

		  	<button type="submit" class="btn btn-default pull-right loginlogout" sec:authorize="isAuthenticated()">
		  		Log out</button>
		</form>
	</div>
	<!-- Log in / Log out navigation -->

	<div class="col-lg-2"></div>

	<!-- navigation -->
	<div class="col-lg-8 navigation">
		<ul class="nav nav-pills">
			<li role="presentation" class="active button_color"><a href="index.html">Home</a></li>
			<li role="presentation"><a href="sortiment.html">Sortiment</a></li>

			<!-- Advanced administrator navigation -->
			<li role="presentation" class="salespoint" sec:authorize="hasRole('ROLE_ADMIN')">
				<a href="orders.html">Bestellungen</a>
			</li>
			
			<li role="presentation" class="dropdown salespoint" sec:authorize="hasRole('ROLE_ADMIN')">
		   		<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="true">
		      		Standort <span class="caret"></span>
		    	</a>
		    	<ul class="dropdown-menu" role="menu">
			    	<li><a href="addLocation.html">Standort hinzufügen</a></li>
			    	<li><a href="adminLocList.html">Standortübersicht</a></li>
				</ul>
			</li>							

			<li role="presentation" class="salespoint" sec:authorize="hasRole('ROLE_ADMIN')">
				<a href="employeeList.html">Mitarbeiterübersicht</a>
			</li>

			<li role="presentation" class="salespoint" sec:authorize="hasRole('ROLE_ADMIN')">
				<a href="locationwithwine">Weinmenge</a>
			</li>
			<!-- /Advanced administrator navigation -->


			<!-- Advanced salesman navigation -->
			<li role="presentation" class="salespoint" sec:authorize="hasRole('ROLE_SALESMAN')">
				<a href="saleSortiment.html">Schnellauswahl</a>
			</li>
			
			<li role="presentation" class="salespoint" sec:authorize="hasRole('ROLE_SALESMAN')">
				<a href="warenkorb.html">Warenkorb</a>
			</li>
			
			<li role="presentation" class="salespoint" sec:authorize="hasRole('ROLE_SALESMAN')">
				<a href="orders.html">Bestellungen</a>
			</li>

			<li role="presentation" class="salespoint" sec:authorize="hasRole('ROLE_SALESMAN')">
				<a href="register.html">Kundenregistrierung</a>
			</li>

			<li role="presentation" class="salespoint" sec:authorize="hasRole('ROLE_SALESMAN')">
				<a href="customerlist.html">Kundenliste</a>
			</li>
			<!-- /Advanced salesman navigation -->


			<!-- Advanced brewer navigation -->
			<li role="presentation" class="salespoint" sec:authorize="hasRole('ROLE_BREWER')">
				<a href="cookbook.html">Rezepte</a>
			</li>
			
			<li role="presentation" class="salespoint" sec:authorize="hasRole('ROLE_BREWER')">
				<a href="/distillation.html">Destillation</a>
			</li>

			<li role="presentation" class="salespoint" sec:authorize="hasRole('ROLE_BREWER')">
				<a href="BarrelList.html">BarrelList</a>
			</li>
			<!-- /Advanced brewer navigation -->


			<!-- Advanced barrelmaker navigation -->
			<li role="presentation" class="salespoint" sec:authorize="hasRole('ROLE_BARRELMAKER')">
				<a href="BarrelList.html">BarrelList</a>
			</li>
			<!-- /Advanced barrelmaker navigation -->


			<!-- Advanced winegrower navigation -->
			<li role="presentation" class="salespoint" sec:authorize="hasRole('ROLE_WINEGROWER')">
				<a href="http://localhost:8080/form">Weinanlieferung</a>
			</li>

			<li role="presentation" class="salespoint" sec:authorize="hasRole('ROLE_WINEGROWER')">
				<a href="locationwithwine">Weinmenge</a>
			</li>
			<!-- /Advanced winegrower navigation -->
		</ul>
	</div>
	<!-- /navigation -->

	<div class="col-lg-2"></div>

	<div class="header">
		<div class="header-title">Cognac Shop <br/>Feuerwasser</div>
		<img src="../resources/img/wein.jpg" class="header"/>
	</div>
	<!-- /Header -->

	<!-- modal content -->
	<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
	
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title" id="myModalLabel">Confirm that action</h4>
				</div>
	      
				<div class="modal-body">
					<h4 class="modal-title" id="myModalLabel">Are you sure you want to delete this recipe? </h4>
				</div>
	
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

					<form th:method="delete">
						<button type="button" class="btn btn-default float-right" onclick="deleteEntry()" >Delete</button>
					</form>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	<!-- /modal content -->

	<!-- Container -->
	<div class="main-container content">
		<div class="col-lg-12">
			<!-- add recipe form -->		
			<div id="main">
			    <div class="my-form" >
					<form role="form" method="post" th:action="@{/cookbook/addRecipe}">
			        	<p >
			        		<label for="name">Rezept</label>
							<input name="name" type="text" /><br /> 
						</p>
						
			            <p class="text-box">
			                <label for="ingredient">Zutat <span class="box-number">1</span></label>
			                <input type="number" name="ingridientName" value="" id="box" placeholder="Jahrgang"/>
			                <input type="number" name="ingridientAmount" value="" id="box" min="1" placeholder="Menge"/>
			                <select name="ingridientUnit">
								<option value="Liter">Liter</option>
							</select><br/>
							
							<label for="ingredient">Zutat <span class="box-number">2</span></label>
			                <input type="number" name="ingridientName1" value="" id="box" placeholder="Jahrgang"/>
			                <input type="number" name="ingridientAmount1" value="" id="box" min="1" placeholder="Menge"/>
			                <select name="ingridientUnit1">
								<option value="Liter">Liter</option>
							</select><br/>
							
							<label for="ingredient">Zutat <span class="box-number">3</span></label>
			                <input type="number" name="ingridientName2" value="" id="box" placeholder="Jahrgang"/>
			                <input type="number" name="ingridientAmount2" value="" id="box" min="1" placeholder="Menge"/>
			                <select name="ingridientUnit2">
								<option value="Liter">Liter</option>
							</select><br/>
							
							<label for="ingredient">Zutat <span class="box-number">4</span></label>
			                <input type="text" name="ingridientName2" value="" id="box" placeholder="Wasser"/>
			                <input type="number" name="ingridientAmount2" value="" id="box" min="1" placeholder="Menge"/>
			                <select name="ingridientUnit2">
								<option value="Liter">Liter</option>
							</select>
<!-- 			                <a class="add-box" href="#"><button class="btn btn-default">Add More</button></a> -->
			            </p>
			            <p><input type="submit" class="btn btn-default" value="Speichern" /></p>
			        </form>   
			   	</div>
			</div>
				
			</div>
			<!-- /add recipe form --> 

			<!-- recipe list -->
			<div class="col-lg-4">
				<table class="table table-condensed">
					<tr class="success">	
						<th>Recipe</th>
						<th></th>
					</tr>
					<tr th:each="recipe : ${recipes}">
						<td>
							<a th:href="@{'/cookbook/' + ${recipe.id}}">
							<ul>
								<li th:text="${recipe.name}">text</li>
								<ul th:each="ingredient : ${recipe.ingredients}">
									<li>
										<span th:text="${ingredient.name}"></span>			
										<span th:text="${ingredient.amount}"></span>
										<span th:text="${ingredient.unit}"></span>
									</li>
								</ul>
							</ul>
							</a>
						</td>
						<td>
							<button th:value="${recipe.id}" 
									class="btn btn-default pull-right glyphicon glyphicon-remove btn-lg" 
									data-toggle="modal" data-target="#myModal" onclick="doSomething(this)"></button>
						</td>		 
					</tr>
				</table>
			</div>

			<div class="col-lg-8">
				<!-- recipe details -->	
				<div th:each="recipe : ${selectedRecipe}">	
					<form th:method="get" th:action="@{'/wedding/' + ${recipe.id}}">		
						<ul>
							<li name ="recipe_name" th:text="${recipe.name}">text</li>
							<ul th:each="ingredient : ${recipe.ingredients}">
								<li>
									<span name ="ingredient_name" th:text="${ingredient.name}"></span>			
									<span th:name ="ingredient_amount" th:text="${ingredient.amount}"></span>
									<span th:name ="ingredient_unit" th:text="${ingredient.unit}"></span>
								</li>
							</ul>
						</ul>

						<select name="selected_bottle_amount">
							<option value="0.3">0.3</option>
							<option value="0.7">0.7</option>
						</select>
							
						<button class="btn btn-default">Herstellen</button><br/>
					
						<span th:text="${not_enough_0}"></span><br/><span th:text="${not_enough_1}"></span><br/>
						<span th:text="${not_enough_2}"></span><br/><span th:text="${not_enough_3}"></span><br/>
						<span th:text="${not_enough_4}"></span><br/><span th:text="${not_enough_5}"></span><br/>
					
						<span th:text="${not_enough_bottles}"></span>
					</form>
						
					<!-- buy bottles -->
					<form th:method="get" th:action="@{/cookbook/buy/bottles}">
						<h4>Flaschen bestellen</h4>
						<select name="bottlesToBuyAmount">
							<option value="0.3">0.3</option>
							<option value="0.7">0.7</option>
							<option value="1.0">1.0</option>
						</select>
						<input type="number" name="bottlesToBuyNumber" min="1" placeholder="Flaschenanzahl"/>
						<button class="btn btn-default">Flaschen bestellen</button><br/><br/>
					</form>
					<!-- /buy bottles -->
				</div>
			    <!-- /recipe details -->
			</div>
			<!-- /recipe list -->
		
		
		<div class="col-lg-12">	
			<!-- barrel stock -->
			<div class="col-lg-4">
				<h3>Fasslager</h3>
				<table class="table table-condensed">
					<tr class="success">
						<th class="text-center">Inhalt</th>
						<th class="text-center">Menge</th>
					</tr>
					<tr th:each="maxstore : ${barrelstock_store}" class="text-center">
						<td><span th:text="${maxstore.content}"></span></td>
						<td><span th:text="${maxstore.amount}"></span></td>
					</tr>
				</table>
			</div>
			<!-- /barrel stock -->

			<!-- bottle stock -->
			<div class="col-lg-4">
				<h3>Flaschenlager</h3>
				<table class="table table-condensed">
					<tr class="success">
						<th class="text-center">leerer Flaschen</th>
						<th class="text-center">Volumen</th>
					</tr>

					<tr th:each="bottle_empty : ${bottlestock_empty}">
						<td class="text-center"></td>
						<td class="text-center"><span th:text="${bottle_empty.amount}"></span></td>
					</tr>	
				</table>
			</div>
			
			<div class="col-lg-4">
				<h3><br/></h3>
				<table class="table table-condensed">
					<tr class="success">
						<th class="text-center">Name</th>
						<th class="text-center">Volumen</th>
					</tr>
					<tr th:each="bottle_full : ${bottlestock_full}">
						<td class="text-center"><span th:text="${bottle_full.name}"></span></td>
						<td class="text-center"><span th:text="${bottle_full.amount}"></span></td>
					</tr>
				</table>
		
			</div>

			<!-- /bottle stock -->
		</div>
			
	</div>
	<!-- /Container -->
	
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="../resources/js/bootstrap.min.js"></script>
	
	<script th:inline="javascript">
	/*<![CDATA[*/
	
	    /*============= add recipe form =============*/
		jQuery(document).ready(function($){
		    $('.my-form .add-box').click(function(){
		        var n = $('.text-box').length + 1;
		        if( 5 < n ) {
		            alert('Stop it!');
		            return false;
		        }
		        var box_html = $('<p class="text-box"><label for="ingredient">Zutat <span class="box-number">' + n + '</span></label> <input type="text" name="ingridientName" class="box-number" id="box" /> <input type="number" name="ingridientAmount" value="" id="box" min="1"/> <select name="ingridientUnit" value="" id="box"><option value="Liter">Liter</option><option value="Kg">Kg</option></select> <a href="#" class="remove-box"><button class="btn btn-default glyphicon glyphicon-remove"></button></a></p>');
		        box_html.hide();
		        $('.my-form p.text-box:last').after(box_html);
		        box_html.fadeIn('slow');
		        return false;
		    });
		    $('.my-form').on('click', '.remove-box', function(){
		        $(this).parent().css( 'background-color', '#FF6C6C');
		        $(this).parent().fadeOut("slow", function() {
		            $(this).remove();
		            $('.box-number').each(function(index){
		                $(this).text( index + 1 );
		            });
		        });
		        return false;
		    });
		});
		
	
		/*============= delete entry URL =============*/
		var idForDelete ="";
		
		function doSomething(elem){
			idForDelete = elem.value;
		}
		
		function deleteEntry()
		{
			var newURL      = "cookbook/delete";
			newURL = newURL + "/" + escape(idForDelete);
			
			location.href = newURL;
		}
		
	/*]]>*/
	</script>
</div>
</body>
</html>