<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<title>Customerlist</title>

	<!-- JS dependencies -->
	<script type="text/javascript" src="//code.jquery.com/jquery-latest.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="../resources/js/bootstrap.min.js"></script>
	<script src="../resources/js/docs.min.js"></script>
	
	<!-- CSS dependencies -->
	<link href="../resources/css/style.css" rel="stylesheet" />
	<style type="text/css">
	  .success_table{background-color:#92D36E!important; color:#fff;}
	  .btn-default{background-color:#92D36E!important; color:#fff;}
	</style>
		<img src="../resources/img/wein.jpg" class="header"/>
</head>

<body>
<div class="main-wrapper">
	<!-- Header -->

	<div class="col-lg-7"></div>

	<!-- Log in / Log out navigation -->
	<div class="col-lg-5 logNavi">	
		<nav th:include="login :: login"></nav>
	</div>
	<!-- Log in / Log out navigation -->

	<div class="col-lg-2"></div>

	<!-- navigation -->
	<div class="col-lg-8 navigation">
		<nav th:include="navigation :: navigation"></nav>
	</div>
	<!-- /navigation -->

	<div class="col-lg-2"></div>

	<div class="header">
		<div class="header-title">Cognac Fabrik <br/>Feuerwasser</div>
	</div>
	<!-- /Header -->


	<!-- Container -->
	<div class="main-container">
		<div class="col-lg-12 content">
			<div class="col-lg-12">
				<p class="btn-success text-center" th:text="${error_green}"></p>
			</div>
			<table class="table table-condensed">
			<h3>Kundenliste</h3>
				<tr class="success_table">
					<th class="text-center">Benutzername</th>
					<th class="text-center">Nachname</th>
					<th class="text-center">Vorname</th>
					<th class="text-center">Adresse</th>
					<th class="text-center"></th>
					<th class="text-center"></th>
				</tr>
				<tr th:each="customer : ${customerlist}">
					<td class="text-center" th:text="${customer.userAccount.identifier}"></td>
					<td class="text-center" th:text="${customer.familyname}"></td>
					<td class="text-center" th:text="${customer.firstname}"></td>
					<td class="text-center" th:text="${customer.address}"></td>
					
					<td class="text-right">
						<form method="get" role="form" th:action="@{/editCustomer/} + ${customer.id}">
							<button  type="submit" class="btn btn-default">Bearbeiten</button>
						</form>
					</td>
					<td class="text-left">
						<form method="post" role="form" th:action="@{/deleteCustomer/} + ${customer.id}">
							<button  type="submit" class="btn btn-default">Löschen</button>
						</form>
					</td>		
				</tr>
			</table>
		
		</div>
		<div class="col-lg-2">	</div>
	<!-- /Container -->		</div>
	<script th:inline="javascript">
	/*<![CDATA[*/
	           
	    /*
	     * reload page after 5 seconds
	     */
		var url = "http://localhost:8080/customerlist.html";
		var delay = "2000";
		var show = "1000";
		
		window.onload = function ()
		{
			if(window.location.href != url)
			{
				DoTheRedirect();
			}   
		}
		
		function DoTheRedirect()
		{
		    setTimeout(GoToURL, delay);
		}
		
		function DoTheShow(id)
		{
			var status = "false";
			if((document.getElementById("one").value) == status){
			setTimeout(function() {Show(id);}, show);}
		}
		
		function GoToURL()
		{
		    // IE8 and lower fix
		    if (navigator.userAgent.match(/MSIE\s(?!9.0)/))
		    {
		        var referLink = document.createElement("a");
		        referLink.href = url;
		        document.body.appendChild(referLink);
		        referLink.click();
		    }
		
		    // All other browsers
		    else { window.location.replace(url); }
		}
		
		function Show(id)
		{
			document.getElementById('abcdef' + id).style.display='block';
		}

	/*]]>*/
	</script>
</div>
</body>
</html>