<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<title>Product Detail</title>

	<!-- JS dependencies -->
	<script type="text/javascript" src="//code.jquery.com/jquery-latest.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="../resources/js/bootstrap.min.js"></script>
	<script src="../resources/js/docs.min.js"></script>
	
	<!-- CSS dependencies -->
	<link href="../resources/css/style.css" rel="stylesheet" />
		<img src="../resources/img/wein.jpg" class="header"/>
</head>

<body>
<div class="main-wrapper">
	<!-- Header -->
	<div class="col-lg-7"></div>

	<!-- Log in / Log out navigation -->
	<div class="col-lg-5 logNavi">	
		<form class="form-inline" role="form" th:action="@{/login}" method="post" >
		 	<div class="form-group" sec:authorize="!isAuthenticated()">
		   		<label class="sr-only" for="username">Username</label>
		    	<input type="text" class="form-control" id="username" name="username" 
		    		autofocus="autofocus" placeholder="Username" />
		  	</div>
		 	<div class="form-group" sec:authorize="!isAuthenticated()">
		    	<label for="password" class="sr-only">Password</label>
		    	<input type="password" class="form-control" id="password" 
		    	name="password" placeholder="Password" />
		  	</div>

		  	<button type="submit" class="btn btn-default loginlogout" sec:authorize="!isAuthenticated()">
		  		Log in</button>

		  	<button type="submit" class="btn btn-default pull-right loginlogout" sec:authorize="isAuthenticated()">
		  		Log out</button>
		</form>
	</div>
	<div class="col-lg-2"></div>
	<!-- navigation -->
	<div class="col-lg-8 navigation">
		<nav th:include="navigation :: navigation"></nav>
	</div>
	<!-- /navigation -->

	<div class="col-lg-2"></div>

	<div class="header">
		<div class="header-title">Cognac Fabrik <br/>Feuerwasser</div>
	</div>
	<!-- /Header -->
	
	<!-- Container -->
	<div class="main-container content">
		<div class="col-lg-12">
			<div class="col-lg-2"></div>
			<div class="col-lg-3">
				<img width="300" height="300" th:src="@{'/resources/img/cover/' + ${article.image} + '.jpg'}" class="thumbnail" src="../resources/img/cover/nopic.jpg" alt="" align="center" style="display: inline"/>
			</div>
			<div class="col-lg-7 detail_text">
				<div class="col-lg-12"><h2 th:text="${article.name}"></h2></div>
				<div class="col-lg-12"><span>Alter:</span> <span th:text="${article.alter}"></span></div>
				<div class="col-lg-12"><span>Alkoholgehalt:</span> <span th:text="${article.alkoholgehalt}" ></span></div>
				<div class="col-lg-12"><span>Volumen:</span> <span th:text="${article.volumen}"></span> <span>Liter</span></div>
				<div class="col-lg-12"><span>Cognacart:</span> <span th:text="${article.cognacart}"></span></div>
				<div class="col-lg-12"><span>Preis:</span> <span th:text="${article.price}"></span></div>
				<div class="col-lg-12"><span>Vorrat:</span> <span th:text="${quantity}"></span></div><br />
				<div class="col-lg-12" >
				<ul class="nav nav-pills">
					<li role="presentation" class="disabled">
						<form  method="post" action="/cart" sec:authorize="hasAnyRole('ROLE_CUSTOMER' , 'ROLE_SUPERUSER')">
							<span for="number">Anzahl:</span>
							<input  id="number" type="number" name="number" min="1" max="10" step="1" value="1" />
							<input type="hidden" name="pid" th:value="${article.identifier}" /> <br/>
							<button class="btn btn-default btn-lg" name="searchterm">
							<span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span> Artikel hinzuf&uuml;gen</button>
						</form>
					</li>
					<div class="button">
					
						<form method="get" action="/sortiment">
							<button class="btn btn-default btn-lg" name="searchTerm">
							<span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span> Zur&uuml;ck zum Sortiment</button>
						</form>
			
					<p></p>
						<form  method="get" action="/cart">
							<button class="btn btn-default btn-lg" name="searchterm" sec:authorize="hasRole('ROLE_CUSTOMER')">
							<span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Zum Warenkorb gehen</button>
						</form>	
					
					</div>
				</ul>
			</div>
		</div>
	</div>
</div>
</div>

</body>	
</html>
