<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<title>Destillation</title>

	<!-- JS dependencies -->
	<script type="text/javascript" src="//code.jquery.com/jquery-latest.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="../resources/js/bootstrap.min.js"></script>
	<script src="../resources/js/docs.min.js"></script>
	
	<!-- CSS dependencies -->
	<link href="../resources/css/style.css" rel="stylesheet" />
	<style type="text/css">
	  .success_table{background-color:#92D36E!important; color:#fff;}
	  .btn-default{background-color:#92D36E!important; color:#fff;}
	  .new_still_amount{width:280px;}
	  .add_new_still_btn{width:100%;}
	  .add_new_still_div{top:56px;}
	</style>
	
	<img src="../resources/img/wein.jpg" class="header"/>
</head>

<body>
<div class="main-wrapper">
	<!-- Header -->
	<div class="col-lg-7"></div>

	<!-- Log in / Log out navigation -->
	<div class="col-lg-5 logNavi">	
		<nav th:include="login :: login"></nav>
	</div>
	<!-- Log in / Log out navigation -->

	<div class="col-lg-2"></div>

	<!-- navigation -->
	<div class="col-lg-8 navigation">
		<nav th:include="navigation :: navigation"></nav>
	</div>
	<!-- /navigation -->

	<div class="col-lg-2"></div>

	<div class="header">
		<div class="header-title">Cognac Fabrik <br/>Feuerwasser</div>
	</div>
	<!-- /Header -->

	<!-- Container -->
	<div class="main-container content">
		<div class="col-lg-12">
			<div class="col-lg-12">
				<p class="btn-danger text-center" th:text="${error}"></p>
				<p class="btn-success text-center" th:text="${error_green}"></p>
			</div>
			<div class="col-lg-9">
				<h3>Destillation</h3>
				<table class="table table-condensed">
					<tr class="success_table">
						<th class="text-center"><div>#</div></th>
						<th class="text-center"><div>Volumen der Destille</div></th>
						<th class="text-center"><div>Status</div></th>
						<th class="text-center"></th>
						<th class="text-center"><div>Qualität</div></th>
						<th class="text-center"></th>
						<th class="text-center"><div></div></th>
					</tr>
					<tr th:each="still, it : ${stills}" th:with="index = ${it.count}">
						<td class="text-center"><span th:text="${index}"></span></td>
						<td class="text-center"><span th:text="${still.amount}"></span> <span>Hektoliter</span></td>
						<td class="text-center">
							<span th:switch="${still.status_one}">
								<span th:case="0" class="btn btn-success"></span> 
								<span th:case="1" class="btn btn-warning"></span>
								<span th:case="2" class="btn btn-danger"></span>
							</span> 
							<span th:switch="${still.status_two}">
								<span th:case="0" class="btn btn-success"></span>
								<span th:case="1" class="btn btn-warning"></span>
								<span th:case="2" class="btn btn-danger"></span>
							</span>
						</td>
						<td class="text-center">
							<form th:method="post" th:action="@{'/distillation/' + ${index}}">
								<button class="btn btn-default" th:id="${index}" >Destillieren</button>
							</form>
						</td>
						<td class="text-center">
	<!-- 						<form th:method="post" th:action="@{'/distillation/f' + ${index}}" style="display:block" th:id="abcdef + ${index}">	 -->
							<form th:method="post" th:action="@{'/distillation/f' + ${index}}">	
								<span>Qualitätsstufe: </span>
	
								<select name="quality">
									<option value="Schlecht">Schlecht</option>
									<option value="Gut">Gut</option>
									<option value="Sehr Gut">Sehr Gut</option>
								</select>
								<button class="btn btn-default" >Abfüllen</button>
								
								<input name="one" th:value="${still.status_one}" style="display:none"/>
								<input name="two" th:value="${still.status_two}" style="display:none" />                                                                                                          
								
							</form>
						</td>
						<td>
							<form th:method="get" th:action="@{'/deleteStill/' + ${index}}">	
								<button class="btn btn-default">Entfernen</button>
							</form>
						</td>
					</tr>
				</table>
			</div>
			
			<div class="col-lg-3 add_new_still_div">
				<form role="form" method="post" th:action="@{/addNewStill}">
					<table class="table table-condensed">
						<tr class="success_table">
							<td class="text-center"><span>Neue Destille bestellen</span></td>
						</tr>
						<tr>
							<td class="text-center">
								<br/>
								<input class="text-center new_still_amount" type="number" name="new_still_amount" value="" min="1" max="30" placeholder="Volumen in Hektoliter"/><br/><br/>
								<button type="submit" class="btn btn-default add_new_still_btn">Bestellen</button>
							</td>
						</tr>
						<tr>
							<td class="text-center">

							</td>
						</tr>
					</table>
				</form>
			</div>
		</div>	
	</div>
	<!-- /Container -->
	<script th:inline="javascript">
	/*<![CDATA[*/
	           
	    /*
	     * reload page after 4 seconds
	     */
		var url = "http://localhost:8080/distillation";
		var delay = "4000";
		
		window.onload = function ()
		{
			if(window.location.href != url)
			{
				DoTheRedirect();
			}   
		}
		
		function DoTheRedirect()
		{
		    setTimeout(GoToURL, delay);
		}

		function GoToURL()
		{
		    // IE8 and lower fix
		    if (navigator.userAgent.match(/MSIE\s(?!9.0)/))
		    {
		        var referLink = document.createElement("a");
		        referLink.href = url;
		        document.body.appendChild(referLink);
		        referLink.click();
		    }
		
		    // All other browsers
		    else { window.location.replace(url); }
		}

	/*]]>*/
	</script>
</div>
</body>
</html>