<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<title>Edit Employee</title>

	<!-- JS dependencies -->
	<script type="text/javascript" src="//code.jquery.com/jquery-latest.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="../resources/js/bootstrap.min.js"></script>
	<script src="../resources/js/docs.min.js"></script>
	
	<!-- CSS dependencies -->
	<link href="../resources/css/style.css" rel="stylesheet" />
		<img src="../resources/img/wein.jpg" class="header"/>
</head>

<body>
<div class="main-wrapper">
	<!-- Header -->

	<div class="col-lg-7"></div>

	<!-- Log in / Log out navigation -->
	<div class="col-lg-5 logNavi">	
		<form class="form-inline" role="form" th:action="@{/login}" method="post" >
		 	<div class="form-group" sec:authorize="!isAuthenticated()">
		   		<label class="sr-only" for="username">Username</label>
		    	<input type="text" class="form-control" id="username" name="username" 
		    		autofocus="autofocus" placeholder="Username" />
		  	</div>
		 	<div class="form-group" sec:authorize="!isAuthenticated()">
		    	<label for="password" class="sr-only">Password</label>
		    	<input type="password" class="form-control" id="password" 
		    	name="password" placeholder="Password" />
		  	</div>

		  	<button type="submit" class="btn btn-default loginlogout" sec:authorize="!isAuthenticated()">
		  		Log in</button>

		  	<button type="submit" class="btn btn-default pull-right loginlogout" sec:authorize="isAuthenticated()">
		  		Log out</button>
		</form>
	</div>
	<!-- Log in / Log out navigation -->

	<div class="col-lg-2"></div>

	<!-- navigation -->
	<div class="col-lg-8 navigation">
		<nav th:include="navigation :: navigation"></nav>
	</div>
	<!-- /navigation -->
	<div class="col-lg-2"></div>

	<div class="header">
		<div class="header-title">Cognac Fabrik <br/>Feuerwasser</div>
	</div>
	<!-- /Header -->


	<!-- Container -->
	<div class="main-container content">
		<div class="col-lg-12">
			<div class="col-lg-3"></div>

			<div class="col-lg-6">
			<h3>Mitarbeiter bearbeiten</h3>
				<form role="form" method="post" th:action="@{/editEmployee}" th:object="${employee}">

					<div class="input-group">
					  <span class="input-group-addon">Name</span>
					  <input type="text" name="familyname" th:value="${employee.familyname}" class="form-control inputform" placeholder="Name eingeben" th:field="*{familyname}"/>
					  <p th:if="${#fields.hasErrors('familyname')}" th:errors="*{familyname}">Name Error</p>
					</div>

					<div class="input-group">
					  <span class="input-group-addon">Vorname</span>
					  <input type="text" name="firstname" th:value="${employee.firstname}" class="form-control inputform" placeholder="Vorname eingeben" th:field="*{firstname}"/>
					  <p th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}">Name Error</p>
					</div>

					<div class="input-group">
					  <span class="input-group-addon">Gehalt</span>
					  <input type="text" name="salary" th:value="${employee.salary}" class="form-control inputform" placeholder="Gehalt eingeben" th:field="*{salary}"/>
					  <p th:if="${#fields.hasErrors('salary')}" th:errors="*{salary}">Name Error</p>
					</div>

					<div class="input-group">
					  <span class="input-group-addon">E-Mail</span>
					  <input type="email" name="mail" th:value="${employee.mail}" class="form-control inputform" id="exampleInputEmail1" placeholder="E-Mail eingeben" th:field="*{mail}"/>
					  <p th:if="${#fields.hasErrors('mail')}" th:errors="*{mail}">Name Error</p>
					</div>

					<div class="input-group">
					  <span class="input-group-addon">Anschrift</span>
					  <input type="text" name="address" th:value="${employee.address}" class="form-control inputform" placeholder="Addresse eingeben" th:field="*{address}"/>
					  <p th:if="${#fields.hasErrors('address')}" th:errors="*{address}">Name Error</p>
					</div>
					
					<input name="username" type="hidden" th:value="${employee.username}" th:field="*{username}"/>
					<input name="password" type="hidden" th:value="${employee.password}" th:field="*{password}"/>
					<input name="workplace" type="hidden" th:value="${employee.workplace}" th:field="*{workplace}"/>
					
	       		 	<button type="submit" class="btn btn-default btn-lg addLocationButton">
						<span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Speichern
	            	</button>
	          
				</form>
			</div>

			<div class="col-lg-3"></div>

		</div>
	</div>      
 
</div>
</body>
</html>