<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<title>Edit Department</title>

	<!-- JS dependencies -->
	<script type="text/javascript" src="//code.jquery.com/jquery-latest.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="../resources/js/bootstrap.min.js"></script>
	<script src="../resources/js/docs.min.js"></script>
	
	<!-- CSS dependencies -->
	<link href="../resources/css/style.css" rel="stylesheet" />
		<img src="../resources/img/wein.jpg" class="header"/>
</head>

<body>
<div class="main-wrapper">
	<!-- Header -->

	<div class="col-lg-7"></div>

	<!-- Log in / Log out navigation -->
	<div class="col-lg-5 logNavi">	
		<nav th:include="login :: login"></nav>
	</div>
	<!-- Log in / Log out navigation -->

	<div class="col-lg-2"></div>

	<!-- navigation -->
	<div class="col-lg-8 navigation">
		<nav th:include="navigation :: navigation"></nav>
	</div>
	<!-- /navigation -->

	<div class="col-lg-2"></div>

	<div class="header">
		<div class="header-title">Cognac Fabrik <br/>Feuerwasser</div>
	</div>
	<!-- /Header -->


	<!-- Container -->
	<div class="main-container content">
		<div class="col-lg-12">
			<div class="col-lg-3"></div>

			<div class="col-lg-6">
			<table class="table table-condensed" th:each="dep : ${location.departments}">
				<tr>
					<td class="text-center" th:text="${dep.name}"></td>
				</tr>
			</table>

			<form class="text-center" method="post" role="form" th:action="@{/addDepartment/}">
				<select class="text-center" name="sort">
					<option>Weinlager </option>
					<option>Flaschenlager </option>
					<option>Fasslager </option>
					<option>Verkauf </option>
					<option>Verwaltung </option>
					<option>Produktion </option>
				</select>
				<input name="id" type="hidden" th:value="${location.id}"/>
				<button class="btn btn-default" type="submit">Abteilung hinzufügen</button>
			</form>
            </div>
            <div class="col-lg-3"></div>
		</div>
	</div>
</div>
</body>
</html>