<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	</head>

	<body>

		<form method="post" th:action="@{/editLocation}">
            <table>
                <tr><td>Standortangaben:</td></tr>
                <tr><td>Name: </td><td><input type="text" name="name" th:value="${location.name}"/></td></tr>
                <tr><td>Addresse: </td><td><input type="text" name="address" th:value="${location.address}"/></td></tr>
                <tr><td>PLZ/Ort: </td><td><input type="text" name="city" th:value="${location.city}"/></td></tr>
                <tr><td>Telefon: </td><td><input type="text" name="telefon" th:value="${location.telefon}"/></td></tr>
                <tr><td>Mail-Addresse: </td><td><input type="text" name="mail" th:value="${location.mail}"/></td></tr>
                
            	
            	<tr><td><input name="id" type="hidden" th:value="${location.id}"/></td></tr>
                <tr><td><button type="submit">Speichern!</button></td></tr>
                
           	</table>
           	
        </form>
	</body>
</html>