<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	</head>

	<body>
		<h4>Abteilungen in diesem Standort</h4>
		<div th:each="dep : ${location.departments}">
			<table>
				<tr>
					<td th:text="${dep.name}"></td>
					<td>
						<form method="get" role="form" th:action="@{/editOneDep/} + ${dep.id}">
							<button type="submit">Bearbeiten</button>
						</form>
					</td>
				</tr>
			</table>
		</div>
			<form method="post" role="form" th:action="@{/addDepartment/}">
				<select name="sort">
					<option>Weinlager</option>
					<option>Flaschenlager</option>
					<option>Fasslager</option>
					<option>Verkauf</option>
					<option>Verwaltung</option>
					<option>Produktion</option>
				</select>
				<input name="id" type="hidden" th:value="${location.id}"/>
				<button type="submit">Abteilung hinzufügen</button>
			</form>
            
	</body>
</html>