<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	</head>

	<body>

		
					<h2>Mitarbeiter in diesem Standort</h2>
				
					<div th:each="emp : ${location.employees}">
	 					<table><thead th:text="${emp.workplace}"></thead>
	 					<tr><td><input type="text" name="name" th:value="${emp.name}"/></td></tr>
	 					<tr><td><input type="text" name="firstname" th:value="${emp.firstname}"/></td></tr>
	 					<tr><td><input type="text" name="salary" th:value="${emp.salary}"/></td></tr>
	 					<tr><td><input type="text" name="mail" th:value="${emp.mail}"/></td></tr>
	 					<tr><td><input type="text" name="address" th:value="${emp.address}"/></td></tr>
	 					

<!-- Button Speichern der Daten eines Mitarbeiters.. kommt noch ;)  -->
<!-- 						<td> -->
<!-- 						<form method="get" role="form" th:action="@{/editemployee/} + ${emp.id}"> -->
<!-- 							<button  type="submit">Änderungen speichern</button> -->
<!-- 						</form> -->
<!-- 						</td> -->
						</table>
					</div>	
    </body>
</html>