<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	</head>

	<body>
		<div th:each="loc : ${locations} ">
		<p th:text="${loc.name}"></p>
		<table>			
			<thead>
				<tr>
					<th>Beschäftigung</th>
					<th>Nachname</th>
					<th>Vorname</th>
					<th>Gehalt</th>
					<th>E-Mail</th>
					<th>Adresse</th>
				</tr>
			</thead>
					<tr th:each="employee : ${loc.employees}">
	 					<td th:text="${employee.workplace}"></td>
						<td th:text="${employee.name}"></td>
						<td th:text="${employee.firstname}"></td>
						<td th:text="${employee.salary}"></td>
						<td th:text="${employee.mail}"></td>
						<td th:text="${employee.address}"></td>			

<!-- Nur zum Testen eingebaut -->
<!-- 						<td> -->
<!-- 						<form method="get" role="form" th:action="@{/editemployee/} + ${loc.id}"> -->
<!-- 							<button  type="submit">Bearbeiten</button> -->
<!-- 						</form> -->
<!-- 						</td> -->
					</tr>
		</table>
		<p>__</p>
		</div>
	</body>
</html>