<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	</head>

	<body>
		<div th:each="employee : ${employees} ">
		<table>		
	 		<tr><td>Beschäftigung</td><td th:text="${employee.workplace}"></td></tr>
			<tr><td>Nachname</td><td th:text="${employee.name}"></td></tr>
			<tr><td>Vorname</td><td th:text="${employee.firstname}"></td></tr>
			<tr><td>Gehalt</td><td th:text="${employee.salary}"></td></tr>
			<tr><td>E-Mail</td><td th:text="${employee.mail}"></td></tr>
			<tr><td>Adresse</td><td th:text="${employee.address}"></td></tr>			

<!-- Nur zum Testen eingebaut -->
<!-- 						<td> -->
<!-- 						<form method="get" role="form" th:action="@{/editemployee/} + ${loc.id}"> -->
<!-- 							<button  type="submit">Bearbeiten</button> -->
<!-- 						</form> -->
<!-- 						</td> -->
		</table>
		<p>__</p>
		</div>
	</body>
</html>