<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	</head>
	<body>
			<ul>
				<li sec:authorize="!isAuthenticated()" class="loginlogout"><a href="/login">Login</a></li>
				<li sec:authorize="isAuthenticated()" class="loginlogout"><a href="/logout">Logout</a></li>
			</ul>
		
		<div class="content">
			<ul>
				<li><a href="sortiment.html">Sortiment</a></li>
			</ul>
			<p sec:authorize="isAuthenticated()" th:text="${'Moin ' + #authentication?.name}"></p>
			<p sec:authorize="!isAuthenticated()">you are logged out</p>
			
			<div class="salespoint" sec:authorize="hasRole('ROLE_ADMIN')">	
				<ul>
					<li><a href="addLocation.html">Standort hinzufügen</a></li>
					<li><a href="adminLocList.html">Standortübersicht</a></li>
					<li><a href="employeeList.html">Mitarbeiterübersicht</a></li>
					<li><a href="locationwithwine">Weinmenge</a></li>
				</ul>
			</div>
			
			<div class="salespoint" sec:authorize="hasRole('ROLE_SALESMAN')">	
				<ul>
					<li><a href="orders.html">Bestellungen</a></li>
				</ul>
			</div>
			
			<div class="salespoint" sec:authorize="hasRole('ROLE_CUSTOMER')">
				<ul>
					<li><a href="loclist.html">Standortübersicht</a></li>
				</ul>
			</div>
			
			<div class="salespoint" sec:authorize="hasRole('ROLE_BREWER')">
				<ul>
					<li><a href="cookbook.html">Rezepte</a></li>
					<li><a href="BarrelList.html">BarrelList</a></li>
				</ul>
			</div>
			<div class="salespoint" sec:authorize="hasRole('ROLE_BARRELMAKER')">
				<ul>
					<li><a href="BarrelList.html">BarrelList</a></li>
				</ul>
			</div>
			
			<div class="salespoint" sec:authorize="hasRole('ROLE_WINEGROWER')">
				<ul>
					<li><a href="http://localhost:8080/form">Weinanlieferung</a></li>
					<li><a href="locationwithwine">Weinmenge</a></li>
					
				</ul>
			</div>
			
			<div class="salespoint" sec:authorize="hasRole('ROLE_SALESMAN')">
				<ul>
					<li><a href="register.html">Register new Customer</a></li>
					
				</ul>
			</div>
			
		</div>
	</body>
</html>