<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<title>Lieferung</title>

	<!-- JS dependencies -->
	<script type="text/javascript" src="//code.jquery.com/jquery-latest.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="../resources/js/bootstrap.min.js"></script>
	<script src="../resources/js/docs.min.js"></script>
	
	<!-- CSS dependencies -->
	<link href="../resources/css/style.css" rel="stylesheet" />
		<img src="../resources/img/wein.jpg" class="header"/>
</head>

<body>
<div class="main-wrapper">
	<!-- Header -->

	<div class="col-lg-7"></div>

	<!-- Log in / Log out navigation -->
	<div class="col-lg-5 logNavi">	
		<nav th:include="login :: login"></nav>
	</div>
	<!-- Log in / Log out navigation -->

	<div class="col-lg-2"></div>

	<!-- navigation -->
	<div class="col-lg-8 navigation">
		<nav th:include="navigation :: navigation"></nav>
	</div>
	<!-- /navigation -->

	<div class="col-lg-2"></div>

	<div class="header">
		<div class="header-title">Cognac Fabrik <br/>Feuerwasser</div>
	</div>
	<!-- /Header -->


	<!-- Container -->
	<div class="main-container content">
		<div class="col-lg-12">
			<div class="col-lg-3"></div>

			<div class="col-lg-6">
				<form role="form" method="post" action="LF_result">
					<div class="input-group">
					  <span th:text="${error}">Name</span>
					</div>

					<div class="input-group">
					  <span class="input-group-addon">Weinmenge</span>
					  <input type="text" name="quantity"  class="form-control" placeholder="Weinmenge eingeben"/>
					</div>

					<div class="input-group">
					  <span class="input-group-addon">Lieferdatum</span>
					  <input type="date" name="date" />
					</div>

					<div class="input-group">
					  <span class="input-group-addon">Standort</span>
					  <select name="id">
						<option th:each=" item : ${locations}" th:text="${item.name}"></option>
					</select>
					</div>
	          		
	          		<button type="submit" class="btn btn-default btn-lg">
               		<span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span> Abschicken</button>
				</form>
			</div>

			<div class="col-lg-3"></div>

		</div>
	</div>      
 
</div>
</body>
</html>