<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <link href="../resources/css/bootstrap.min.css" rel="stylesheet"/>
</head>

<body>

	<nav th:fragment="login">
		<!-- Log in / Log out navigation -->
<!-- 		<div class="col-lg-5 logNavi">	 -->
			<form class="form-inline" role="form" th:action="@{/login}" method="post" >
		 		<div class="form-group" sec:authorize="!isAuthenticated()">
		   			<label class="sr-only" for="username">Username</label>
		    		<input type="text" class="form-control pull-right" id="username" name="username" autofocus="autofocus" placeholder="Username" />
			  	</div>
			 	<div class="form-group" sec:authorize="!isAuthenticated()">
			    	<label for="password" class="sr-only">Password</label>
		    		<input type="password" class="form-control pull-right" id="password" name="password" placeholder="Password" />
		  		</div>
		  		<button type="submit" class="btn btn-default loginlogout" sec:authorize="!isAuthenticated()">Log in</button>	
			</form>
			<form class="form-inline" role="form" action="logout" sec:authorize="isAuthenticated()">
				<button type="submit" class="btn btn-default pull-right loginlogout">Logout</button>
			</form>
<!-- 		</div> -->
		<!-- Log in / Log out navigation -->
	</nav>
</body>
</html>