<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link href="../resources/css/bootstrap.min.css" rel="stylesheet" />
    
    <link href="../resources/css/header.css" rel="stylesheet" />

	<img src="../resources/img/cover/wein.jpg" width="1348" height="250" alt="Wein"/>
</head>


<body>
<div class="main-wrapper">
	<!-- Header -->
	<div class="header">
		<div class="header-title">Cognac Shop <br/>Feuerwasser</div>
	</div>
	<!-- /Header -->

	<!-- Container -->
	<div class="main-container content">
		<div class="col-lg-12">
			<div class="row">
				<div class="col-lg-7">	</div>
				<div class="col-lg-5">	

					<!-- Log in / Log out navigation -->
					
						<form class="form-inline" role="form" th:action="@{/login}" method="post" >
						 	<div class="form-group" sec:authorize="!isAuthenticated()">
						   		<label class="sr-only" for="username">Username</label>
						    	<input type="text" class="form-control" id="username" name="username" 
						    		autofocus="autofocus" placeholder="Username" />
						  	</div>
						 	<div class="form-group" sec:authorize="!isAuthenticated()">
						    	<label for="password" class="sr-only">Password</label>
						    	<input type="password" class="form-control" id="password" 
						    	name="password" placeholder="Password" />
						  	</div>
						  	<button type="submit" class="btn btn-default loginlogout" sec:authorize="!isAuthenticated()">
						  		Log in</button>
						  	<button type="submit" class="btn btn-default loginlogout" sec:authorize="isAuthenticated()">
						  		Log out</button>
						</form>

					<!-- Log in / Log out navigation -->

				</div>
			</div>

			<div class="row">
				<div class="col-lg-2"></div>

				<div class="col-lg-8">
					<ul class="nav nav-pills">
						<li role="presentation" class="active"><a href="index.html">Home</a></li>
						<li role="presentation"><a href="sortiment.html">Sortiment</a></li>

						<!-- Advanced administrator navigation -->
						<li role="presentation" class="dropdown salespoint" sec:authorize="hasRole('ROLE_ADMIN')">
					   		<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="true">
					      		Standort <span class="caret"></span>
					    	</a>
					    	<ul class="dropdown-menu" role="menu">
						    	<li><a href="addLocation.html">Standort hinzufügen</a></li>
						    	<li><a href="adminLocList.html">Standortübersicht</a></li>
							</ul>
						</li>

						<li role="presentation" class="salespoint" sec:authorize="hasRole('ROLE_ADMIN')">
							<a href="employeeList.html">Mitarbeiterübersicht</a>
						</li>

						<li role="presentation" class="salespoint" sec:authorize="hasRole('ROLE_ADMIN')">
							<a href="locationwithwine">Weinmenge</a>
						</li>
						<!-- /Advanced administrator navigation -->


						<!-- Advanced salesman navigation -->
						<li role="presentation" class="salespoint" sec:authorize="hasRole('ROLE_SALESMAN')">
							<a href="orders.html">Bestellungen</a>
						</li>
						<!-- /Advanced salesman navigation -->
						
						<!-- Advanced salesman navigation -->
						<li role="presentation" class="salespoint" sec:authorize="hasRole('ROLE_SALESMAN')">
							<a href="register.html">Register new Customer</a>
						</li>
						<!-- /Advanced salesman navigation -->
						
						<!-- Advanced salesman navigation -->
						<li role="presentation" class="salespoint" sec:authorize="hasRole('ROLE_SALESMAN')">
							<a href="customerlist.html">Customerlist</a>
						</li>
						<!-- /Advanced salesman navigation -->


						<!-- Advanced brewer navigation -->
						<li role="presentation" class="salespoint" sec:authorize="hasRole('ROLE_BREWER')">
							<a href="cookbook.html">Rezepte</a>
						</li>

						<li role="presentation" class="salespoint" sec:authorize="hasRole('ROLE_BREWER')">
							<a href="BarrelList.html">BarrelList</a>
						</li>
						<!-- /Advanced brewer navigation -->


						<!-- Advanced barrelmaker navigation -->
						<li role="presentation" class="salespoint" sec:authorize="hasRole('ROLE_BARRELMAKER')">
							<a href="BarrelList.html">BarrelList</a>
						</li>
						<!-- /Advanced barrelmaker navigation -->


						<!-- Advanced winegrower navigation -->
						<li role="presentation" class="salespoint" sec:authorize="hasRole('ROLE_WINEGROWER')">
							<a href="http://localhost:8080/form">Weinanlieferung</a>
						</li>

						<li role="presentation" class="salespoint" sec:authorize="hasRole('ROLE_WINEGROWER')">
							<a href="locationwithwine">Weinmenge</a>
						</li>
						<!-- /Advanced winegrower navigation -->
					</ul>
				</div>

				<div class="col-lg-2"></div>
			</div>
		</div>
	</div>
	<!-- /Container -->

</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../resources/js/bootstrap.min.js"></script>
</body>
</html>




<!-- ALTES LOGIN  -->

<!-- <!DOCTYPE html> -->

<!-- <html xmlns:th="http://www.thymeleaf.org"> -->
<!-- 	<head> -->
<!-- 		<meta http-equiv="content-type" content="text/html; charset=UTF-8" /> -->
<!-- 	</head> -->
<!-- <body> -->
<!-- 	<div class="all"> -->
<!-- 		<nav th:include="navigation :: navigation"> -->
<!-- 			<ul> -->
<!-- 				<li><a href="register.html">Registrierung</a></li> -->
<!-- 				<li class="loginlogout"><a href="login">Login</a></li> -->
<!-- 				<li class="loginlogout"><a href="logout">Logout</a></li> -->
<!-- 			</ul> -->
<!-- 		</nav> -->
		
<!-- 		<div class="content"> -->
<!-- 			<h1>Login page</h1> -->
<!-- 	        <p th:if="${loginError}">Wrong user or password</p> -->
<!-- 	        <form th:action="@{/login}" method="post"> -->
<!-- 	            <label for="username">Username</label>: -->
<!-- 	            <input type="text" id="username" name="username" autofocus="autofocus" /> <br /> -->
<!-- 	            <label for="password">Password</label>: -->
<!-- 	            <input type="password" id="password" name="password" /> <br /> -->
<!-- 	            <input type="submit" value="Log in" /> -->
<!-- 	        </form> -->
<!-- 		</div> -->
<!-- 	</div> -->
<!-- </body> -->
<!-- </html> -->