<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	</head>
<body>
		
			<h3>Admin-Berechtigungen</h3>
		<div class="salespoint" sec:authorize="hasRole('ROLE_BOSS')">	
			<ul>
				<li><a href="register.html">New Customer?</a></li>
				<li><a href="eingabe.html">Hinzufügen</a></li>
				<li><a href="loeschen.html">Löschen</a></li>
				<li><a href="uebersicht.html">Standortübersicht</a></li>
			</ul>
		</div>
		<div class="salespoint" sec:authorize="hasRole('ROLE_CUSTOMER')">
			<h3>Kundenbereich</h3>
			<ul>
				<li><a href="uebersicht.html">Standortübersicht</a></li>
			</ul>
		</div>
		
		<!--  <p th:text="${}"></p> -->
</body>
</html>