<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <link href="../resources/css/styleVerkauf.css" rel="stylesheet" />
    
     <link href="../resources/css/header.css" rel="stylesheet" />

	<img src="../resources/img/cover/wein.jpg" width="1348" height="250" alt="Wein"/>
</head>


<body>
<div class="main-wrapper">
	<!-- Header -->
	<div class="header">
		<div class="header-title">Cognac Fabrik Feuerwasser</div>
	</div>
	<!-- /Header -->

	<!-- Container -->
	<div class="main-container content">
		<div class="col-lg-12">
			<div class="row">
				<div class="col-lg-10">	</div>
				<div class="col-lg-20">		

					<!-- Log in / Log out navigation -->
					
					<form class="form-inline" role="form" th:action="@{/login}" method="post" >
					 	<div class="form-group" sec:authorize="!isAuthenticated()">
					   		<label class="sr-only" for="username">Username</label>
					    	<input type="text" class="form-control" id="username" name="username" 
					    		autofocus="autofocus" placeholder="Username" />
					  	</div>
					 	<div class="form-group" sec:authorize="!isAuthenticated()">
					    	<label for="password" class="sr-only">Password</label>
					    	<input type="password" class="form-control" id="password" 
					    	name="password" placeholder="Password" />
					  	</div>
					  	<button type="submit" class="btn btn-default loginlogout" sec:authorize="!isAuthenticated()">
					  		Log in</button>
					  	<button type="submit" class="btn btn-default loginlogout" sec:authorize="isAuthenticated()">
					  		Log out</button>
					</form>

					<!-- Log in / Log out navigation -->

				</div>
			</div>

			<div class="row">
				<div class="col-lg-2"></div>

				<div class="col-lg-8">
					<ul class="nav nav-pills">
						<li role="presentation" class="active"><a href="index.html">Home</a></li>
						<li role="presentation"><a href="sortiment.html">Sortiment</a></li>
						<li role="presentation"><a href="warenkorb.html">Warenkorb</a></li>
						<li role="presentation"><a href="orders.html">Bestellungen</a></li>
						<li role="presentation"><a href="customerlist.html">Kundenliste</a></li>
						
						


		<div class="content">
			<div class="salespoint">

				<form method="post" action="/registerNew" th:object="${registrationForm}">
					
					<fieldset>
						<legend th:value="Benutzerkonto">Benutzerkonto</legend>
						
						<div th:if="${#fields.hasErrors('*')}">
							<p>Einige Angaben sind nicht korrekt.</p>
						</div>
						
						<label for="name">Benutzername</label>
						<input id="name" th:field="*{name}" th:errorclass="fieldError" type="text" name="name" />
						<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Der Benutzername darf nicht leer sein.</p>
						<br />
						
						<label for="password">Passwort</label>
						<input id="password" th:field="*{password}" th:errorclass="fieldError" type="text" name="password" /><br /> 
						<p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Das Passwort darf nicht leer sein.</p>
						
						<br />
						<label for="familyname">Nachname</label>
						<input id="familyname" th:field="*{familyname}" th:errorclass="fieldError" type="text" name="familyname" />
						<p th:if="${#fields.hasErrors('familyname')}" th:errors="*{familyname}">Der Vorname darf nicht leer sein.</p>
						<br />
						
						<br />
						<label for="firstname">Vorname</label>
						<input id="firstname" th:field="*{firstname}" th:errorclass="fieldError" type="text" name="firstname" />
						<p th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}">Der Vorname darf nicht leer sein.</p>
						<br />
						
						<br />
						<label for="address">Addresse</label>
						<input id="address" th:field="*{address}" th:errorclass="fieldError" type="text" name="address" />
						<p th:if="${#fields.hasErrors('address')}" th:errors="*{address}">Die Adresse darf nicht leer sein.</p>
						<br />
						<input type="submit" value="Registrieren" />
					</fieldset>
				</form>
			</div>
	
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../resources/js/bootstrap.min.js"></script>

		</div>
		</ul>	
		</div>
		</div>
		</div>
		</div>
		</div>
		
	</body>
</html>
			
	