<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<title>Edit Location</title>

	<!-- JS dependencies -->
	<script type="text/javascript" src="//code.jquery.com/jquery-latest.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="../resources/js/bootstrap.min.js"></script>
	<script src="../resources/js/docs.min.js"></script>
	
	<!-- CSS dependencies -->
	<link href="../resources/css/style.css" rel="stylesheet" />
</head>

<body>
<div class="main-wrapper">
	<!-- Header -->

	<div class="col-lg-7"></div>

	<!-- Log in / Log out navigation -->
	<div class="col-lg-5 logNavi">	
		<form class="form-inline" role="form" th:action="@{/login}" method="post" >
		 	<div class="form-group" sec:authorize="!isAuthenticated()">
		   		<label class="sr-only" for="username">Username</label>
		    	<input type="text" class="form-control" id="username" name="username" 
		    		autofocus="autofocus" placeholder="Username" />
		  	</div>
		 	<div class="form-group" sec:authorize="!isAuthenticated()">
		    	<label for="password" class="sr-only">Password</label>
		    	<input type="password" class="form-control" id="password" 
		    	name="password" placeholder="Password" />
		  	</div>

		  	<button type="submit" class="btn btn-default loginlogout" sec:authorize="!isAuthenticated()">
		  		Log in</button>

		  	<button type="submit" class="btn btn-default pull-right loginlogout" sec:authorize="isAuthenticated()">
		  		Log out</button>
		</form>
	</div>
	<!-- Log in / Log out navigation -->

	<div class="col-lg-2"></div>

	<!-- navigation -->
	<div class="col-lg-8 navigation">
		<ul class="nav nav-pills">
			<li role="presentation" class="active button_color"><a href="index.html">Home</a></li>
			<li role="presentation"><a href="sortiment.html">Sortiment</a></li>

			<!-- Advanced administrator navigation -->
			<li role="presentation" class="salespoint" sec:authorize="hasRole('ROLE_ADMIN')">
				<a href="orders.html">Bestellungen</a>
			</li>
			
			<li role="presentation" class="dropdown salespoint" sec:authorize="hasRole('ROLE_ADMIN')">
		   		<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="true">
		      		Standort <span class="caret"></span>
		    	</a>
		    	<ul class="dropdown-menu" role="menu">
			    	<li><a href="addLocation.html">Standort hinzufügen</a></li>
			    	<li><a href="adminLocList.html">Standortübersicht</a></li>
				</ul>
			</li>							

			<li role="presentation" class="salespoint" sec:authorize="hasRole('ROLE_ADMIN')">
				<a href="employeeList.html">Mitarbeiterübersicht</a>
			</li>

			<li role="presentation" class="salespoint" sec:authorize="hasRole('ROLE_ADMIN')">
				<a href="locationwithwine">Weinmenge</a>
			</li>
			<!-- /Advanced administrator navigation -->


			<!-- Advanced salesman navigation -->
			<li role="presentation" class="salespoint" sec:authorize="hasRole('ROLE_SALESMAN')">
				<a href="saleSortiment.html">Schnellauswahl</a>
			</li>
			
			<li role="presentation" class="salespoint" sec:authorize="hasRole('ROLE_SALESMAN')">
				<a href="warenkorb.html">Warenkorb</a>
			</li>
			
			<li role="presentation" class="salespoint" sec:authorize="hasRole('ROLE_SALESMAN')">
				<a href="orders.html">Bestellungen</a>
			</li>

			<li role="presentation" class="salespoint" sec:authorize="hasRole('ROLE_SALESMAN')">
				<a href="register.html">Kundenregistrierung</a>
			</li>

			<li role="presentation" class="salespoint" sec:authorize="hasRole('ROLE_SALESMAN')">
				<a href="customerlist.html">Kundenliste</a>
			</li>
			<!-- /Advanced salesman navigation -->


			<!-- Advanced brewer navigation -->
			<li role="presentation" class="salespoint" sec:authorize="hasRole('ROLE_BREWER')">
				<a href="cookbook.html">Rezepte</a>
			</li>

			<li role="presentation" class="salespoint" sec:authorize="hasRole('ROLE_BREWER')">
				<a href="BarrelList.html">BarrelList</a>
			</li>
			<!-- /Advanced brewer navigation -->


			<!-- Advanced barrelmaker navigation -->
			<li role="presentation" class="salespoint" sec:authorize="hasRole('ROLE_BARRELMAKER')">
				<a href="BarrelList.html">BarrelList</a>
			</li>
			<!-- /Advanced barrelmaker navigation -->


			<!-- Advanced winegrower navigation -->
			<li role="presentation" class="salespoint" sec:authorize="hasRole('ROLE_WINEGROWER')">
				<a href="http://localhost:8080/form">Weinanlieferung</a>
			</li>

			<li role="presentation" class="salespoint" sec:authorize="hasRole('ROLE_WINEGROWER')">
				<a href="locationwithwine">Weinmenge</a>
			</li>
			<!-- /Advanced winegrower navigation -->
		</ul>
	</div>
	<!-- /navigation -->

	<div class="col-lg-2"></div>

	<div class="header">
		<div class="header-title">Cognac Shop <br/>Feuerwasser</div>
		<img src="../resources/img/wein.jpg" class="header"/>
	</div>
	<!-- /Header -->


	<!-- Container -->
	<div class="main-container content">
		<div class="col-lg-12">
			<div class="col-lg-3"></div>

			<div class="col-lg-6 salespoint">
			<form method="post" action="/registerNew" th:object="${registrationForm}">
				<fieldset>
					<legend th:value="Benutzerkonto">Benutzerkonto</legend>
					
					<div th:if="${#fields.hasErrors('*')}">
						<p>Einige Angaben sind nicht korrekt.</p>
					</div>
					<div class="input-group">
				  		<span class="input-group-addon" for="name">Benutzername</span>
						<input id="name" th:field="*{name}" th:errorclass="fieldError" type="text" name="name" class="form-control" placeholder="Benutzername eingeben"/>
						<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Der Benutzername darf nicht leer sein.</p>
					</div>
					

					<div class="input-group">
				  		<span class="input-group-addon" for="password">Passwort</span>
						<input id="password" th:field="*{password}" th:errorclass="fieldError" type="text" name="password"
						class="form-control" placeholder="Passwort eingeben" /><br /> 
						<p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Das Passwort darf nicht leer sein.</p>
					</div>
					
					<div class="input-group">
				  		<span class="input-group-addon" for="familyname">Nachname</span>
						<input id="familyname" th:field="*{familyname}" th:errorclass="fieldError" type="text" name="familyname" class="form-control" placeholder="Nachname eingeben" />
						<p th:if="${#fields.hasErrors('familyname')}" th:errors="*{familyname}">Der Vorname darf nicht leer sein.</p>
					</div>
					
					<div class="input-group">
				  		<span class="input-group-addon" for="firstname">Vorname</span>
						<input id="firstname" th:field="*{firstname}" th:errorclass="fieldError" type="text" name="firstname" class="form-control" placeholder="Vorname eingeben"/>
						<p th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}">Der Vorname darf nicht leer sein.</p>
					</div>
					
					<div class="input-group">
				  		<span class="input-group-addon" for="address">Addresse</span>
						<input id="address" th:field="*{address}" th:errorclass="fieldError" type="text" name="address" 
						class="form-control" placeholder="Addresse eingeben"/>
						<p th:if="${#fields.hasErrors('address')}" th:errors="*{address}">Die Adresse darf nicht leer sein.</p>
					</div>
					<br/>
					<br />
					<input type="submit" value="Registrieren" />
				</fieldset>
			</form>
			</div>
				
			<div class="col-lg-3"></div>

			<div class="content">
				<div class="salespoint">
					<form method="post" action="/registerNew" th:object="${registrationForm}"></form>
				</div>
			</div>
		</div>
	</div>      
 
</div>
</body>
</html>	
	



		