<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<title>Sortiment</title>

	<!-- JS dependencies -->
	<script type="text/javascript" src="//code.jquery.com/jquery-latest.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="../resources/js/bootstrap.min.js"></script>
	<script src="../resources/js/docs.min.js"></script>
	
	<!-- CSS dependencies -->
	<link href="../resources/css/style.css" rel="stylesheet" />
		<img src="../resources/img/wein.jpg" class="header"/>
</head>

<body>
<div class="main-wrapper">
	<!-- Header -->

	<div class="col-lg-7"></div>

	<!-- Log in / Log out navigation -->
	<div class="col-lg-5 logNavi">	
		<form class="form-inline" role="form" th:action="@{/login}" method="post" >
		 	<div class="form-group" sec:authorize="!isAuthenticated()">
		   		<label class="sr-only" for="username">Username</label>
		    	<input type="text" class="form-control" id="username" name="username" 
		    		autofocus="autofocus" placeholder="Username" />
		  	</div>
		 	<div class="form-group" sec:authorize="!isAuthenticated()">
		    	<label for="password" class="sr-only">Password</label>
		    	<input type="password" class="form-control" id="password" 
		    	name="password" placeholder="Password" />
		  	</div>

		  	<button type="submit" class="btn btn-default loginlogout" sec:authorize="!isAuthenticated()">
		  		Log in</button>

		  	<button type="submit" class="btn btn-default pull-right loginlogout" sec:authorize="isAuthenticated()">
		  		Log out</button>
		</form>
	</div>
	<!-- Log in / Log out navigation -->

	<div class="col-lg-2"></div>

	<!-- navigation -->
	<div class="col-lg-8 navigation">
	
	
	
	<nav th:include="navigation :: navigation"></nav>
	

	</div>
	<!-- /navigation -->

	<div class="col-lg-2"></div>

	<div class="header">
		<div class="header-title">Cognac Fabrik <br/>Feuerwasser</div>
	</div>
	<!-- /Header -->


	<!-- Container -->
	<div class="main-container">
		<div class="col-lg-12 content">
			<a th:each="article : ${articles}" th:href="@{'/detail/' + ${article.identifier}}" href="detail.html">
			  <div class="col-sm-6 col-md-4 nail">
			    <div class="thumbnail">
			      <p><h4 class="text-center" th:text="${article.name}"></h4></p>
			      <img id="img" th:src="@{'/resources/img/cover/' + ${article.image} + '.jpg'}" src="../resources/img/cover/nopic.jpg"/>
			      <div class="caption">
					<div>
						<p class="text-center"><span>Alter:</span> <span th:text="${article.alter}"></span></p>
						<p class="text-center"><span>Alkoholgehalt:</span> <span th:text="${article.alkoholgehalt}"></span></p>
						<p class="text-center"><span>Volumen:</span> <span th:text="${article.volumen}"></span></p>
						<p class="text-center"><span>Art:</span> <span th:text="${article.cognacart}"></span></p>
						<p class="text-center"><span>Preis:</span> <span th:text="${article.price}"></span></p>	
						<p><a th:href="@{'/detail/' + ${article.identifier}}" href="detail.html" 
				        	class="btn btn-primary" role="button" style="width:100%">Zum Artikel</a></p>
					</div>
			      </div>
			    </div>
			  </div>
			 </a>
			</div>
		</div>
	<!-- /Container -->		
</div>
</body>
</html>
			
