<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<body>
    	<h3 align="center"><i>Willkommen im Warenkorb</i></h3>    
   	 
   	<div th:unless="${cart.empty}"> 
   	
	<table align="center" style="width:95%">
            		
 		<thead>
           <tr>

            <th>Name</th>
        	<th>Alter</th>
	     	<th>Alkoholgehalt</th>
        	<th>Volumen</th>
        	<th>Cognacart</th>
        	<th>Preis pro St&uuml;ck</th>
        	<th>Anzahl</th>
           </tr>
        </thead>
   
        	<tr th:each=" cartItem : ${cart}">
        
        		
				<td align="center" th:text="${cartItem.product.name}"></td>
				<td align="center" th:text="${cartItem.product.alter}"></td>
				<td align="center" th:text="${cartItem.product.alkoholgehalt}"></td>
				<td align="center" th:text="${cartItem.product.volumen}"></td>
				<td align="center" th:text="${cartItem.product.cognacart}"></td>
				<td align="center" th:text="${cartItem.product.price}"></td>
				<td align="center" th:text="${cartItem.quantity}"></td>		
				
				<td><form method="get" th:action="@{/article{pid}} + ${cartItem.product.identifier}">
                 <input type="hidden" name="pid" th:value="${cartItem.product.identifier}" />
               		<button type="submit">L&ouml;schen</button> 	
          		</form></td>
							
			</tr>	
			</table>
					
			<form method="post" action="kaufen">
                <button type="submit">Artikel kaufen</button>
            </form>
					
            <!--Warenkorb wird verworfen -->
			<form method="post" th:action="@{cart/clear}">
				<button name="searchterm">Warenkorb verwerfen</button>
			</form>
				
			 <p align="right">Gesamtsumme:</p>
			 <p align="right" th:text="${cart.price}"></p>
	</div>
	
			<form method="get" action="/sortiment">
				<button name="searchTerm">Artikel Hinzuf&uuml;gen</button>
			</form>
		
		<p align="center" th:if="${cart.empty}" th:text="#{cart.empty}">Leer</p>
				
	</body>      
</html>